[submodule "site-lisp/change-inner"]
	path = site-lisp/change-inner
	url = git://github.com/emacsmirror/change-inner.git
[submodule "site-lisp/coffee-mode"]
	path = site-lisp/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "site-lisp/expand-region.el"]
	path = site-lisp/expand-region.el
	url = git://github.com/magnars/expand-region.el.git
[submodule "site-lisp/find-file-in-project"]
	path = site-lisp/find-file-in-project
	url = https://github.com/technomancy/find-file-in-project.git
[submodule "site-lisp/jade-mode"]
	path = site-lisp/jade-mode
	url = git://github.com/brianc/jade-mode.git
[submodule "site-lisp/icicles"]
	path = site-lisp/icicles
	url = https://github.com/emacsmirror/icicles.git
[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "site-lisp/jump-char"]
	path = site-lisp/jump-char
	url = https://github.com/lewang/jump-char.git
[submodule "site-lisp/mark-multiple.el"]
	path = site-lisp/mark-multiple.el
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "site-lisp/nrepl.el"]
	path = site-lisp/nrepl.el
	url = git://github.com/kingtim/nrepl.el.git
[submodule "site-lisp/perspective-el"]
	path = site-lisp/perspective-el
	url = git://github.com/magnars/perspective-el.git
[submodule "site-lisp/predictive"]
	path = site-lisp/predictive
	url = git://github.com/emacsmirror/predictive.git
[submodule "site-lisp/smart-forward.el"]
	path = site-lisp/smart-forward.el
	url = git://github.com/magnars/smart-forward.el.git
[submodule "site-lisp/smex"]
	path = site-lisp/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "site-lisp/swank-js"]
	path = site-lisp/swank-js
	url = git://github.com/swank-js/swank-js.git
[submodule "site-lisp/wrap-region"]
	path = site-lisp/wrap-region
	url = https://github.com/magnars/wrap-region.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "site-lisp/zencoding"]
	path = site-lisp/zencoding
	url = git://github.com/rooney/zencoding.git
[submodule "site-lisp/clojure-mode"]
	path = site-lisp/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule "site-lisp/s.el"]
	path = site-lisp/s.el
	url = git://github.com/magnars/s.el.git
[submodule "site-lisp/projectile"]
	path = site-lisp/projectile
	url = git://github.com/bbatsov/projectile.git
[submodule "site-lisp/ace-jump-mode"]
	path = site-lisp/ace-jump-mode
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule "site-lisp/rainbow-mode"]
	path = site-lisp/rainbow-mode
	url = git://github.com/emacsmirror/rainbow-mode.git
[submodule "site-lisp/mustache"]
	path = site-lisp/mustache
	url = git://github.com/mustache/emacs.git
[submodule "site-lisp/json-mode"]
	path = site-lisp/json-mode
	url = git://github.com/joshwnj/json-mode.git
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = git://github.com/defunkt/markdown-mode.git
[submodule "site-lisp/highlight-symbol.el"]
	path = site-lisp/highlight-symbol.el
	url = git://github.com/nschum/highlight-symbol.el.git
[submodule "site-lisp/multi-shell"]
	path = site-lisp/multi-shell
	url = git://github.com/emacsmirror/multi-shell.git
[submodule "site-lisp/pretty-lambdada"]
	path = site-lisp/pretty-lambdada
	url = git://github.com/emacsmirror/pretty-lambdada.git
[submodule "site-lisp/thingopt-el"]
	path = site-lisp/thingopt-el
	url = git://github.com/m2ym/thingopt-el.git
[submodule "site-lisp/wc-mode"]
	path = site-lisp/wc-mode
	url = git://github.com/bnbeckwith/wc-mode.git
[submodule "site-lisp/autopair-el"]
	path = site-lisp/autopair-el
	url = git://github.com/m2ym/autopair-el.git
[submodule "site-lisp/ac-slime"]
	path = site-lisp/ac-slime
	url = git://github.com/purcell/ac-slime.git
